.card-container {

    position: relative;
    border: 3px solid #3E4357;
    border-radius: .8rem;
    width: 20.7rem;
    height: 31rem;
    display: flex;
    overflow: hidden;
    margin: .8rem 0;

}

.card-img {

    transition: transform 1s;
    min-width: 100%;
    min-height: 100%;

}

.card-img:hover {

    transform: scale(1.07);

}