.card-label-container {

    position: absolute;
    bottom: 4rem;
    right: 0;

}

.card-label-content {

    background-color: rgba(10, 10, 10, 0.95);
    padding: .7rem 1.8rem;
    font-size: 1rem;
    color: #fff;

}