.menu-bar-container {

    display: flex;
    flex-direction: row;
    background-color: #fff;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    z-index: 5;
    height: 4rem;
    padding: 0 1.5rem 0 1.5rem;
    align-items: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);

}

.menu-bar-items > ul{

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;

}

.menu-bar-items > ul > li > a {

    font-size: 1.05rem;
    color: #000;
    padding: 0.35rem;

}

.menu-bar-items > ul > li > a:hover {

    font-size: 1rem;
    color: #444;
    text-shadow: 1px 1px 1px #eee;

}
